node_modules
package-lock.json
mix-manifest.json
composer.lock
typerocket/vendor/composer/*
typerocket/vendor/psr/*
typerocket/vendor/symfony/*
typerocket/vendor/typerocket/assets/*
typerocket/vendor/typerocket/templates/*
typerocket/vendor/autoload.php